
  /* Style the search box inside the navigation bar */
 input[type=text] {
    float: none;
    padding: 6px;
    border: 1;
    background-color:aliceblue;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  h1 {
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }

    :host /deep/ ng2-smart-table table{
        width: fit-content;
        margin-top: 25px;
        margin-left:auto; 
        margin-right:auto;
        display: table;
        border-spacing: 2px;
        border-color: grey; /* border of the big table*/
    }
    
    /* grid lines */
    :host /deep/ ng2-smart-table table > tbody > tr > td {
        box-sizing: border-box;
        border: 1px solid grey;
    }

    /* headers grid color*/
    :host /deep/ ng2-smart-table thead > tr > th  {
        padding: 0.5%; 
        font-size: 20px;
    }  
    
    /*font size*/
    :host /deep/ ng2-smart-table {
        font-size:16px;
    }



  
  